{% extends 'app/base.html' %}

{% block context %}
<div class="principal-div">
<h1>Customers List!</h1>
</div>

{% if customers %}
{% for customer in customers %}

<div class="content-center">
<h3><a href="{% url 'customer_detail' pk=customer.pk %}">{{ customer.full_name }}</a></h3>

  {% if customer.email %}
  <p><small>Email: {{ customer.email }}</small></p>

  {% else %}
  <p><small>Email: Not registered.</small></p>

  {% endif %}

</div>
{% endfor %}


{% else %}
<h1>No Customers registered yet :(</h1>
{% endif %}

{% endblock %}