{% extends 'app/base.html' %}


{% block context %}
<div class="principal-div">
<h1>Welcome to Test APP</h1>
<p>Here you will find a Test App created in django 1.9 and python3 for practice lessons and you'll find some other tools like jquery, bootstrap and google fonts.</p>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <i class="material-icons md-48">contacts</i>
        <h3>Customers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn btn-primary" href="{% url 'customer_list' %}">Customers</a>
      </div>
      <div class="col-md-3">
        <i class="material-icons md-48">class</i>
        <h3>Categories</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn btn-primary" href="{% url 'category_list' %}">Categories</a>
      </div>
      <div class="col-md-3">
        <i class="material-icons md-48">list</i>
        <h3>Products</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn btn-primary" href="{% url 'product_list' %}">Products</a>
      </div>
      <div class="col-md-3">
        <i class="material-icons md-48">receipt</i>
        <h3>Orders</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn btn-primary" href="#contact">Orders</a>
      </div>
    </div>
  </div>

{% endblock %}